<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.modules.myInfo.mapper.MyOrderMapper">
    <resultMap id="waitpayorder" type="com.gxa.modules.myInfo.entity.WaitPayOrder">
        <result property="orderNo" column="order_no"></result>
        <result property="orderAmount" column="order_amount"></result>
    </resultMap>
    <resultMap id="ordertemp" type="com.gxa.modules.myInfo.entity.OrderTemp">
        <result property="num" column="quantity"></result>
        <result property="url" column="picture_url"></result>
    </resultMap>

    <select id="queryByStatus" resultMap="waitpayorder">
        select order_no,order_amount
        from `order`
        where user_id=#{id} and order_status=#{status}
    </select>
    <select id="queryByIdAndStatus" resultMap="ordertemp">

    select d.picture_url,sc.quantity
    from drug d,t_shopping_cart sc
    where d.id = sc.d_id and sc.order_no=#{orderNo}
    </select>
</mapper>