<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.modules.order.mapper.DrugMapper">
    <resultMap id="orderListDto" type="com.gxa.modules.order.dto.OrderListDto">
        <result property="orderNo" column="order_no"></result>
        <result property="commitTime" column="order_payTime"></result>
        <result property="username" column="user_name"></result>
        <result property="consignee" column="real_name"></result>
        <result property="orderAmount" column="order_amount"></result>
        <result property="orderStatus" column="order_status"></result>
    </resultMap>
    <update id="updateDrugOrderByOrderNo">
        UPDATE `order` SET order_status='待收货',express_detail_id=#{expressDetailId} where order_no=#{orderNo}
    </update>


    <select id="queryDrugOrderByPage" resultMap="orderListDto">
        SELECT r.order_no,r.order_payTime,u.user_name,u.real_name,r.order_amount,r.order_status
        FROM `order` r,t_user u
        WHERE r.user_id=u.id
        <if test="orderStatus != null and orderStatus !=''">
            AND r.order_status=#{orderStatus}
        </if>
        <if test="orderNo != null and orderNo !=''">
            AND r.order_no=#{orderNo}
        </if>
        <if test="startDate != null and endDate != null">
            AND order_payTime BETWEEN #{startDate} AND #{endDate}
        </if>
    </select>
</mapper>