<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.modules.order.mapper.OrderDetailMapper">

    <resultMap id="orderDetailDto" type="com.gxa.modules.order.dto.OrderDetailDto">
        <result property="orderNo" column="order_no"></result>
        <result property="orderAmount" column="order_amount"></result>
        <result property="orderStatus" column="order_status"></result>
        <result property="orderCancelTime" column="order_cancelTime"></result>
        <result property="payMethod" column="pay_method"></result>
        <result property="order_payTime" column="order_payTime"></result>
        <result property="realName" column="real_name"></result>
        <result property="phoneNumber" column="phone_number"></result>
        <result property="loc" column="loc"></result>
        <result property="expressName" column="express_name"></result>
        <result property="expressNo" column="express_no"></result>
        <result property="drugUserName" column="drug_user_name"></result>
        <result property="gender" column="gender"></result>
        <result property="age" column="age"></result>
        <result property="medicalRecord" column="medical_record"></result>
        <collection property="drugDtos" ofType="com.gxa.modules.order.dto.DrugDto">
            <result property="drugName" column="drug_name"></result>
            <result property="pictureUrl" column="picture_url"></result>
            <result property="specifications" column="specifications"></result>
            <result property="price" column="price"></result>
            <result property="drugNum" column="quantity"></result>
        </collection>
    </resultMap>

    <select id="queryOrderDetailByOrderNo" resultMap="orderDetailDto">
        SELECT r.order_no,r.order_amount,r.order_status,r.order_cancelTime,r.pay_method,r.order_payTime,d.drug_name,d.picture_url,d.specifications,d.price,tsc.quantity,u.real_name,u.phone_number,u.loc,e.express_name,ed.express_no,du.drug_user_name,du.gender,du.age,p.medical_record
        FROM `order` r,t_user u,drug d,prescription p,express e,express_detail ed,drug_user_info du,t_shopping_cart tsc
        WHERE r.user_id=u.id AND r.prescription_id=p.id AND r.express_detail_id=ed.id AND ed.express_id=e.id AND p.drug_user_info_id=du.id AND tsc.order_no=r.order_no AND tsc.d_id=d.id
		AND r.order_no=#{orderNo}
    </select>
</mapper>