<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.modules.sys.mapper.backStage.promotion.couponManagement.CouponInfoMapper">


    <insert id="addCoupons">
        INSERT INTO promotion_couponUsageInformation
            (id, `member`, coupon_type, collection_time, current_state, usage_time, order_number, coupon_management_id, t_user_id)
        VALUES
            <foreach collection="users" item="user" separator=",">
                <foreach collection="couponManagements" item="val" separator=",">
                    (#{couponUsageInformation.id},
                    #{user.phoneNumber},
                    #{val.couponType},
                    #{couponUsageInformation.collectionTime},
                    #{couponUsageInformation.currentState},
                    #{couponUsageInformation.usageTime},
                    #{couponUsageInformation.orderNumber},
                    #{val.couponManagementId},
                    #{user.id})
                </foreach>
            </foreach>
    </insert>
    <update id="editCoupons">
        UPDATE `promotion_couponUsageInformation` SET
            current_state = #{currentState},
            usage_time = #{usageTime},
            order_number = #{orderNumber},
            version_id = version_id + 1
        Where
            t_user_id = #{userId}
    </update>
    <select id="queryAllById"
            resultType="com.gxa.modules.sys.entity.backStage.promotion.couponManagement.CouponUsageInformation">
        SELECT * FROM promotion_couponUsageInformation WHERE t_user_id =#{userId}
    </select>
    
    <resultMap id="queryUseCoupons" type="com.gxa.modules.sys.entity.backStage.promotion.couponManagement.CouponManagementAll">
        <result property="couponName" column="coupon_name"/>
        <result property="money" column="coupon_money"/>
        <result property="expirationDate" column="expiration_date"/>
        <result property="couponDescribe" column="coupon_describe"/>
        <collection property="drugNames" ofType="string">
        </collection>
    </resultMap>
    <select id="queryUseCoupon"
            resultMap="queryUseCoupons">
        SELECT d.drug_name,m.coupon_name,m.coupon_money,m.expiration_date,m.coupon_describe,m.coupon_type FROM `promotion_coupon_add_drug` AS d , `promotion_coupon_management` AS m , `promotion_couponUsageInformation` AS c
        WHERE d.coupon_manager_id = m.id AND c.coupon_management_id = m.id and t_user_id = #{userID}
    </select>

</mapper>