<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.modules.sys.mapper.backStage.promotion.couponManagement.CouponMapper">

    <insert id="add">
        INSERT INTO promotion_coupon_management (id, coupon_type, coupon_name, coupon_describe,coupon_money,expiration_date, use_threshold, total_circulation,limited_collar,use_members,usable_goods,version_id)
        value (#{couponManagementAll.id},
               #{couponManagementAll.couponType},
               #{couponManagementAll.couponName},
               #{couponManagementAll.couponDescribe},
               #{couponManagementAll.money},
               #{couponManagementAll.expirationDate},
               #{couponManagementAll.useThreshold},
               #{couponManagementAll.totalCirculation},
               #{couponManagementAll.limitedCollar},
               #{couponManagementAll.useMembers},
               #{couponManagementAll.usableGoods},1)
    </insert>
    <insert id="couponAddDrug">
        INSERT INTO promotion_coupon_add_drug
        (id,drug_code,drug_name,coupon_manager_id)value
        <foreach collection="couponAddDrugs" item="val" separator=",">
            (#{val.id},#{val.drugCode},#{val.drugName},#{id})
        </foreach>
    </insert>

    <insert id="couponAddClass">
        INSERT INTO promotion_coupon_add_class (id,classification_name,`level`,coupon_manager_id)values
        <foreach collection="couponAddClasses" item="val" separator=",">
            (#{val.id},#{val.classificationName},#{val.level},#{id})
        </foreach>
    </insert>

    <update id="edit">
        UPDATE promotion_coupon_management set
            `coupon_name`= #{couponName},
            `coupon_money` = #{money},
            `coupon_type` = #{couponType},
            `use_threshold` = #{useThreshold},
            `status` = #{status},
            `expiration_date` = #{expirationDate},
            `get_threshold` = #{getThreshold},
            `amount_issued` = #{amountIssued},
            `received` = #{received},
            `usable_goods` = #{usableGoods},
            `unclaimed` = #{unclaimed},
            `not_used` = #{notUsed},
            `use_issued` = #{useIssued},
            `version_id` = `version_id` + 1
        Where
            id = #{id} and version_id = #{versionId}
    </update>
    <update id="updataStatus">
        UPDATE promotion_coupon_management set
               `status` = "已过期"
       Where
                   id = #{id}
    </update>
    <delete id="deleteDrugById">
        DELETE FROM promotion_coupon_add_drug WHERE coupon_manager_id = #{id}
    </delete>
    <delete id="deleteClassById">
        DELETE FROM promotion_coupon_add_class WHERE coupon_manager_id = #{id}
    </delete>


    <select id="queryById"
            resultType="com.gxa.modules.sys.entity.backStage.promotion.couponManagement.CouponManagementAll">
        SELECT
            `id`,`coupon_name`,`coupon_money`,`coupon_type`,`use_threshold`,`status`,`amount_issued`,usable_goods,`expiration_date`,
            `received`,`unclaimed`,`not_used`,`use_issued`,`version_id`
        FROM promotion_coupon_management WHERE id = #{id}
    </select>

    <select id="selectDrugById" resultType="com.gxa.modules.sys.entity.backStage.promotion.couponManagement.CouponAddDrug">
        SELECT * FROM promotion_coupon_add_drug WHERE coupon_manager_id = #{id}
    </select>

    <select id="selectClassById" resultType="com.gxa.modules.sys.entity.backStage.promotion.couponManagement.CouponAddClass">
        SELECT * FROM promotion_coupon_add_class WHERE coupon_manager_id = #{id}
    </select>


</mapper>