<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.modules.prescription.mapper.PrescriptionMapper">
    <resultMap id="prescription" type="com.gxa.modules.prescription.entity.Prescription">
        <id column="id" property="id"></id>
        <result column="diagnosed_disease" property="diagnosedDisease"></result>
        <result column="used_drug" property="usedDrug"></result>
        <result column="reactions" property="reactions"></result>
        <result column="medical_record" property="medicalRecord"></result>
        <result column="drug_user_info_id" property="drugUserInfoId"></result>

    </resultMap>

    <insert id="addPrescription">
        INSERT INTO prescription(diagnosed_disease,used_drug,reactions,medical_record,drug_user_info_id)
        VALUE (#{diagnosedDisease},#{usedDrug},#{reactions},#{medicalRecord},#{drugUserInfoId})
    </insert>
</mapper>