<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.modules.fristpage.mapper.LimitedTimeGoodsMapper">
    <resultMap id="limitedtimeGoods" type="com.gxa.modules.fristpage.entity.LimitedTimeGoods">
        <result column="price" property="price"></result>
        <result column="activity_time_start" property="activityTime"></result>
        <result column="second_kill_price" property="discountPrice"></result>
        <result column="drug_name" property="drugName"></result>
        <result column="activity_time_end" property="endTime"></result>
        <result column="sec_kill_numbers" property="stock"></result>
        <result column="picture_url" property="pictureUrl"></result>
    </resultMap>
    <select id="queryone" resultMap="limitedtimeGoods">
        SELECT d.drug_name,d.picture_url,d.price,p.second_kill_price,p.sec_kill_numbers,p.activity_time_start,p.activity_time_end
        FROM promotion_limited_time_flash_deal p,drug d
        WHERE p.drug_code = d.id  AND p.`status`='进行中'
    </select>
    <select id="queryStockByName" resultType="java.lang.Integer">
        SELECT count(o.id)
        FROM `order` o , promotion_limited_time_flash_deal p
        WHERE o.drug_id=p.drug_code AND p.drug_name=#{name} AND order_payTime between #{startTime} and #{endTime}
    </select>
</mapper>